numba==0.61.0
absl-py==2.1.0
pure_eval==0.2.3
etils==1.5.1
h5py==3.12.1
smmap==5.0.0
importlib_resources==6.5.2
comm==0.2.2
pynndescent==0.5.13
hpack==4.1.0
lightning==2.5.0.post0
pexpect==4.9.0
debugpy==1.8.12
Jinja2==3.1.5
anndata==0.11.3
nvidia-ml-py==12.570.86
importlib_metadata==8.6.1
pooch==1.8.2
mudata==0.3.1
wandb==0.19.6
click==8.1.8
nest_asyncio==1.6.0
jax==0.4.35
orbax-checkpoint==0.4.4
ptyprocess==0.7.0
urllib3==2.3.0
parso==0.8.4
cffi==1.17.1
scvi-colab==0.13.0
scipy==1.14.1
python-dateutil==2.9.0.post0
natsort==8.4.0
eval_type_backport==0.2.2
pandas==2.2.3
plotly==6.0.0
requests==2.32.3
docrep==0.3.2
zipp==3.21.0
contextlib2==21.6.0
gitdb==4.0.12
tensorstore==0.1.65
zstandard==0.23.0
colorama==0.4.6
tqdm==4.67.1
scanpy==1.10.4
hjson==3.1.0
jupyter_client==8.6.3
msgpack==1.1.0
pyro-api==0.1.2
pickleshare==0.7.5
appdirs==1.4.4
scikit-learn==1.6.1
sentry-sdk==2.20.0
chex==0.1.88
gmpy2==2.1.5
multipledispatch==0.6.0
Markdown==3.6
numpy==2.1.3
rich==13.9.4
jedi==0.19.2
stack_data==0.6.3
opt_einsum==3.4.0
setproctitle==1.3.4
munkres==1.1.4
pydantic==2.10.6
flax==0.8.5
joblib==1.4.2
PyYAML==6.0.2
prompt_toolkit==3.0.50
ipython==8.18.1
tabulate==0.9.0
torch==2.5.1.post302
huggingface_hub==0.28.0
legacy-api-wrap==1.4.1
ipykernel==6.29.5
fonttools==4.56.0
umap-learn==0.5.7
wcwidth==0.2.13
array_api_compat==1.10.0
ml-collections==0.1.1
GitPython==3.1.44
contourpy==1.3.1
py-cpuinfo==9.0.0
stdlib-list==0.11.0
tensorboard==2.18.0
certifi==2024.12.14
setuptools==75.8.0
pip==25.0.1
patsy==1.0.1
pyarrow==18.1.0
toolz==1.0.0
traitlets==5.14.3
tensorboard_data_server==0.7.0
Brotli==1.1.0
jaxlib==0.4.35
jupyter_core==5.7.2
protobuf==5.28.2
idna==3.10
lightning-utilities==0.12.0
deepspeed==0.16.3
wheel==0.45.1
mpmath==1.3.0
statsmodels==0.14.4
session-info==1.0.0
sympy==1.13.3
unicodedata2==16.0.0
fsspec==2025.2.0
et_xmlfile==2.0.0
matplotlib==3.10.0
ml-dtypes==0.5.1
llvmlite==0.44.0
hyperframe==6.1.0
pytz==2024.1
numpyro==0.17.0
matplotlib-inline==0.1.7
threadpoolctl==3.5.0
pyro-ppl==1.9.1+ab0491a
psutil==6.1.1
pytorch-lightning==2.5.0.post0
platformdirs==4.3.6
pyzmq==26.2.1
executing==2.1.0
annotated-types==0.7.0
h2==4.2.0
PySocks==1.7.1
tornado==6.4.2
sparse==0.15.5
xarray==2024.7.0
optax==0.2.4
cycler==0.12.1
cached-property==1.5.2
skops==0.11.0
Werkzeug==3.1.3
narwhals==1.26.0
exceptiongroup==1.2.2
decorator==5.1.1
pyparsing==3.2.1
asttokens==3.0.0
charset-normalizer==3.4.1
torchmetrics==1.6.1
einops==0.8.1
pydantic_core==2.27.2
kiwisolver==1.4.7
pycparser==2.22
openpyxl==3.1.5
typing_extensions==4.12.2
MarkupSafe==3.0.2
packaging==24.2
Pygments==2.19.1
docker-pycreds==0.4.0
networkx==3.2.1
seaborn==0.13.2
scvi-tools==1.2.2.post2
grpcio==1.67.1
filelock==3.17.0
six==1.17.0
pillow==11.1.0
mdurl==0.1.2
tzdata==2025.1
markdown-it-py==3.0.0
backports.tarfile==1.2.0
inflect==7.3.1
zipp==3.19.2
jaraco.text==3.12.1
autocommand==2.2.2
typeguard==4.3.0
wheel==0.43.0
jaraco.collections==5.1.0
tomli==2.0.1
jaraco.context==5.3.0
platformdirs==4.2.2
more-itertools==10.3.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
typing_extensions==4.12.2
packaging==24.2
